.hidden {
    display: none !important;
}

.plugin-info {
    width: 100%;
    color: #707070;
    text-align: center;
    white-space: nowrap;
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 1.66666666666667;
    padding: 0;
}

.error {
    color: #c00;
}

.ticketCreationError {
    display: inline-block;
    margin-left: 10px;
    max-width: 90%;
}

.disabledPolicyRule {
    text-decoration: line-through;
}

.inlineError {
    display: inline-block;
}

.errorTimestamp {
    display: inline-block;
    margin-left: 10px;
}

.clickable:hover {
    cursor: pointer;
}

.largeIcon {
    font-size: 25px !important;
}

.infoIcon {
    color: #707070;
}

.field-group {
    clear: both;
    display: block;
    margin-bottom: 5px;
    min-height: 1.6em;
    padding: 0 0 5px 10px;
}

.blackduck-details-field-group {
    clear: both;
    display: block;
    margin-bottom: 5px;
    min-height: 1.6em;
    padding: 0px 0px 0px 160px;
}

.longInput {
    max-width: 250px;
    min-width: 100px;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 3.01px;
    box-shadow: inset 0 1px 3px #ccc;
}

.intervalInput {
    type: number;
    min: 1;
    max: 999;
    maxlength: 3;
    border: 1px solid #ccc;
    border-radius: 3.01px;
    box-shadow: inset 0 1px 3px #ccc;
    font-family: arial, tahoma, verdana, sans-serif;
    font-size: 13px;
    padding: 2px 5px 2px 5px;
}

.inputDescription {
    display: block;
}

.textStyle {
    font-family: arial, tahoma, verdana, sans-serif;
    font-size: 13px;
    padding: 2px 5px 2px 5px;
}

.legend {
    font-family: arial, tahoma, verdana, sans-serif;
    font-size: 16px !important;
    font-weight: bold !important;
    display: block !important;
}

.label {
    color: #707070;
    font-weight: bold;
    width: auto !important;
    text-align: left !important;
}

.blackDuckDetailsLabel {
    color: #707070;
    float: left;
    margin-left: -160px;
    font-weight: bold;
    width: auto !important;
    text-align: left !important;
    white-space: nowrap !important;
}

.fieldSection {
    border: 1px solid !important;
    padding: 10px 5px 5px 15px !important;
}

.errorSection {
    border: 1px solid #ccc;
    padding: 10px 5px 5px 15px !important;
}

.mappingContainer {
    overflow-y: scroll;
    height: 300px;
}

.mappingTableRowDivider {
    background-color: #F2F2F2;
}

.mappingTableCell {
    text-align: center;
}

.ticketCriteriaTable {
    width: 100%;
    table-layout: fixed;
}

.policyCriteriaSection {
    overflow: scroll;
    min-height: 250px;
    max-height: 350px;
}

.booleanCriteriaSection {
    float: left;
}

.buttonContainer {
    padding-top: 10px;
    float: right;
}

.workflowStatusSection {
    all: unset;
    color: white;
    max-width: 100px;
    overflow-wrap: break-word;
    border-radius: 5px 5px;
    padding: 1px 4px;
}

.workflowStatusEnabled {
    background-color: #205081;
}

.workflowStatusDisabled {
    background-color: #c00000;
}

.workflowStatusPartial {
    background-color: #ffa500;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #707070;
    -webkit-box-shadow: 0 0 1px #707070;
}
