.bds-name, .bds-value {
    text-align: left;
    display: inline-block;
}

.bds-name {
    float: left;
    color: #707070;
    font-weight: normal;
    padding: 2px 5px 2px 0;
    padding-right: 5px;
    width: 150px;
    text-align: left;
    display: inline-block;
}

.bds-value {
    word-wrap: break-word;
    word-break: break-word;
    display: inline-block;
    max-width: 100%;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-top: 2px;
    position: relative;
    vertical-align: top;
    text-align: left;
}

.bds-wrap {
    padding: 0 10px 0 0px;
}

.bds-fiftyPercent {
    width: 50%;
    box-sizing: border-box;
}

div.bds-fieldSectionSeparator {
    clear: both;
}