.hidden {
	display: none;
}

.error {
	color : red;
	font-weight : bold;
}

.longInput {
	width: 90%;
}

.legend {
	font-size : 15px;
	font-weight : bold;
	display : block !important;
}

.label {
	font-weight : bold;
	width : auto !important;
	text-align : left !important;
	white-space : nowrap !important;
}

.fieldSection {
	border : 1px solid !important;
	padding : 5px 5px 5px 15px !important; 
}

.mappingContainer {
	overflow-y: scroll; 
	height:300px;
}

.ticketCriteriaTable {
	width : 100%;
	table-layout : fixed;
}

.ticketCriteriaSection {
	overflow : scroll; 
	height : 200px;
}
