.name, .value {
	text-align: left;
	display: inline-block;
}

.name {
	float: left;
	color: #707070;
	font-weight: normal;
    padding: 2px 5px 2px 0;
    padding-right: 5px;
    width: 150px;
    text-align: left;
    display: inline-block;
}

.value {
	word-wrap: break-word;
    word-break: break-word;
    display: inline-block;
    max-width: 100%;
    padding-bottom: 2px;
    padding-left: 5px;
    padding-top: 2px;
    position: relative;
    vertical-align: top;
    text-align: left;
}

.wrap {
	padding: 0 10px 0 0px;
}

#hubFields > div {
 float: left;
}