.hidden {
	display: none;
}

.error {
	color : #c00;
	font-weight : bold;
}

.largeIcon {
	font-size : 25px !important;
}

.infoIcon {
	color: #CCCCCC;
}

.field-group {
	clear: both;
    display: block;
    margin-bottom: 5px;
    min-height: 1.6em;
    padding: 0 0 5px 10px;
}

.longInput {
	width: 400px;
}

.textStyle {
	font-family: arial,tahoma,verdana,sans-serif;
    font-size: 13px;
    padding : 2px 5px 2px 5px;
}

.legend {
	font-family: arial,tahoma,verdana,sans-serif;
	font-size : 16px !important;
	font-weight : bold !important;
	display : block !important;
}

.label {
	color : #707070;
	font-weight : bold;
	width : auto !important;
	text-align : left !important;
	white-space : nowrap !important;
}

.fieldSection {
	border : 1px solid !important;
	padding : 10px 5px 5px 15px !important; 
}

.mappingContainer {
	overflow-y: scroll; 
	height:300px;
}

.ticketCriteriaTable {
	width : 100%;
	table-layout : fixed;
}

.ticketCriteriaSection {
	overflow : scroll; 
	height : 200px;
}
