language: java
jdk:
  - oraclejdk8
  
cache:
  directories:
    - $HOME/.m2

notifications:
  email:
    recipients:
      - akamen@blackducksoftware.com
      - jrichard@blackducksoftware.com
      - psantos@blackducksoftware.com
      - ekerwin@blackducksoftware.com

install: true
script:
  - mvn clean package com.blackducksoftware.integration:hub-maven-plugin:1.4.0:createHubOutput
after_success:
  - mvn jacoco:report coveralls:report
  - bash <(curl -s https://test.duckbuild.io/bash/travis) ./target/blackduck/hub-common_bdio.jsonld
