<html>
  <head>
    <title>$i18n.getText("hub.integration.jira.label")</title>
    <meta name="decorator" content="atl.admin" />
   		$webResourceManager.requireResource("com.blackducksoftware.integration.hub-jira:hub-jira-resources")
   		
  </head>
  <body>
    <form id="hub-jira" class="">
      <div id="aui-hub-message-field" class="aui-message hidden">
      	<p class="title">
        	<span id="aui-hub-message-title" class="aui-icon"></span>
        	<strong id="aui-hub-message-title-text"></strong>
    	</p>
    	<p id="aui-hub-message-text"></p>
      </div>
      
      <div id="error-message-field" class="error hidden">
      </div>
      	
      	<fieldset class="fieldSection">
      	 <legend class="legend"><i class="fa fa-angle-down" onclick="toggleDisplay(this,'adminArea');"> </i> $i18n.getText("hub.integration.jira.admin.label")</legend>
      	 <div id="adminArea">
		      <div class="field-group">
		        <label class="label" for="hubJiraGroups">$i18n.getText("hub.integration.jira.hubJiraGroups.label")</label>
		        <span class="aui-icon icon-required"> $i18n.getText("hub.integration.jira.required")</span>
		        <span class="fa fa-info-circle infoIcon" title="$i18n.getText('hub.integration.jira.hubJiraGroupsDescription.label')"></span>
		        <input multiple type="text" id="hubJiraGroups" name="hubJiraGroups" class="longInput textStyle">
		        <datalist id="jiraGroups"></datalist>
		      </div>
		      <div class="field-group">
		      	<label> </label>
		      	<div id="hubJiraGroupsError" class="error hidden"></div>
		      </div>
		      
		      <div style="display: inline-block; width: 100%;">
		   	   		<div class="buttonContainer">
			       		<div id="adminSaveSpinner" style="display: inline-block;"></div>
			  	   		<input onclick="updateAdminConfig(); startProgressSpinner('adminSaveSpinner);" type="button" value="$i18n.getText('hub.integration.jira.save.label')" class="aui-button aui-button-primary">
			  	   </div>
			  </div>
	      </div>
      	</fieldset>
      	
      	<fieldset class="fieldSection">
      	 <legend class="legend"><i class="fa fa-angle-down" onclick="toggleDisplay(this,'intervalArea');"> </i> $i18n.getText("hub.integration.jira.intervalSection.label")</legend>
      	 <div id="intervalArea">
		      <div class="field-group">
		        <label class="label" for="intervalBetweenChecks">$i18n.getText("hub.integration.jira.intervalBetweenChecks.label")</label>
		        <span class="aui-icon icon-required"> $i18n.getText("hub.integration.jira.required")</span>
		        <input type="text" id="intervalBetweenChecks" name="intervalBetweenChecks" class="longInput textStyle">
		      </div>
		      <div class="field-group">
		      	<label> </label>
		      	<div id="intervalBetweenChecksError" class="error hidden"></div>
		      </div>
	      </div>
      	</fieldset>
      
      	<fieldset class="fieldSection">
      	  <legend class="legend"><i class="fa fa-angle-down" onclick="toggleDisplay(this,'mappingArea');"> </i> $i18n.getText('hub.integration.jira.hubProjectMappingSection.label') </legend>
			<div id="mappingArea" class="mappingContainer">
			  <label class="label" for="hubProjectMappingContainer">$i18n.getText("hub.integration.jira.hubProjectMappings.label")</label>
			  <span class="aui-icon icon-required"> $i18n.getText("hub.integration.jira.required")</span>
			  <div class="field-group">
					<div id="hubProjectMappingsError" class="error hidden"></div>
			  </div>
			  <div id="projectMappingSpinner" class="largeIcon fa fa-spinner fa-spin fa-fw"></div>
			  	<table width="100%">
			  		<thead>
			  			<tr>
			  				<td class="mappingTableCell"/>
			  				<td class="mappingTableCell error hidden" id="jiraProjectListError">
						    </td>
						    <td class="mappingTableCell"/>
						    <td class="mappingTableCell error hidden" id="hubProjectListError">
						    </td>
						    <td class="mappingTableCell"/>
			  			</tr>
			  			<tr>
			  				<td class="mappingTableCell"/>
			  				<td class="mappingTableCell">
			  					$i18n.getText('hub.integration.jira.jiraProjectPlaceHolder.label')
						    </td>
						    <td class="mappingTableCell"/>
						    <td class="mappingTableCell">
						    	$i18n.getText('hub.integration.jira.hubProjectPlaceHolder.label')
						    </td>
						    <td class="mappingTableCell"/>
			  			</tr>
			  		</thead>
			  		<tbody id="hubProjectMappingContainer">
					  	  <tr class="hidden" name="hubProjectMappingElement" id="hubProjectMappingElement">
						    <td class="mappingTableCell" id="mappingStatus">
						    </td>
						    <td class="mappingTableCell">
						    	<input class="longInput textStyle" type="text" name="jiraProject" list="jiraProjects" projectKey="" oninput="onMappingInputChange(this);" placeholder="$i18n.getText('hub.integration.jira.jiraProjectPlaceHolder.label')">
								<datalist id="jiraProjects">
								</datalist>
								<div id="jiraProjectError">
						    	</div>
						    </td>
						    <td class="mappingTableCell" width="25px"> = </td>
						    <td class="mappingTableCell">
						    	<input class="longInput textStyle" type="text" name="hubProject" list="hubProjects" projectKey="" oninput="onMappingInputChange(this);" placeholder="$i18n.getText('hub.integration.jira.hubProjectPlaceHolder.label')">
								<datalist id="hubProjects">
								</datalist>
						    </td>
						    <td class="mappingTableCell" width="100px">
						    	<div class="largeIcon fa fa-trash-o" onclick="removeMappingElement(this);" title="$i18n.getText('hub.integration.jira.removeProjectMapping.label')"></div>
						  	</td>
						  </tr>
				  </tbody>
				</table>
			</div>
			<div class="buttonContainer">
				<input onclick="addNewMappingElement('hubProjectMappingElement');" type="button" value="$i18n.getText('hub.integration.jira.addProjectMapping.label')" class="aui-button">
			</div>
		</fieldset>
      
		<fieldset class="fieldSection">
			<legend class="legend"><i class="fa fa-angle-down" onclick="toggleDisplay(this,'ticketCriteriaArea');"> </i> $i18n.getText("hub.integration.jira.ticketCriteriaSection.label")</legend>
			<div id="ticketCriteriaArea">
			<table class="ticketCriteriaTable">
				<thead>
					<tr>
						<th class="label">$i18n.getText('hub.integration.jira.policyConditions.label')
						</th>
					<!--	<th class="label">$i18n.getText('hub.integration.jira.vulnerabilityStatusForCreation.label')
						</th>
						<th class="label">$i18n.getText('hub.integration.jira.vulnerabilityStatusForClosure.label')
						</th> -->
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div id="policyRuleSpinner" class="largeIcon fa fa-spinner fa-spin fa-fw"></div>
							<div id="policyRuleTicketCreation" class="ticketCriteriaSection">
							</div>
				  		</td>
				  	<!--	<td>
				  			<div id="vulnerabilityTicketCreation" class="ticketCriteriaSection">
					  			Coming Soon...
							</div>
				  		</td>
				  		<td>
				  			<div id="vulnerabilityTicketClosure" class="ticketCriteriaSection">
					  			Coming Soon...
							</div>
				  		</td> -->
	      			</tr>
	      			<tr>
	      				<td>
					      	<div id="policyRulesError" class="error hidden"></div>
					    </td>
					<!--    <td>
					      	<div id="" class="error hidden"></div>
					    </td>
					    <td>
					      	<div id="" class="error hidden"></div>
					    </td> -->
	      			</tr>
      			</tbody>
      		</table>	
      		</div>
      	</fieldSet>
		
	   <div style="display: inline-block; width: 100%;">
	   	   <div class="buttonContainer">
	       		<div id="saveSpinner" style="display: inline-block;"></div>
	  	   		<input onclick="updateConfig(); startProgressSpinner('saveSpinner');" type="button" value="$i18n.getText('hub.integration.jira.save.label')" class="aui-button aui-button-primary">
	  	   </div>
	   </div>
	  
	  <fieldset class="fieldSection hidden" id="ticketCreationFieldSet">
      	  <legend class="legend"><i class="fa fa-angle-down" onclick="toggleDisplay(this,'ticketCreationErrors');"> </i> $i18n.getText('hub.integration.jira.ticketCreationError.label') </legend>
      	  <div id="ticketCreationErrors">
	      	  <table id="ticketCreationErrorsTable" style="width : 100%;">
	      	  		<tr class="hidden" id="ticketCreationErrorRow" name="ticketCreationErrorRow">
	      	  			<td>
	      	  				<div name="expansionIconDiv" style="float : left; display : inline-block;">
	      	  					<i name="expansionIcon" onclick="handleErrorResize(this);" class="largeIcon fa fa-plus-square-o" aria-hidden="true"></i>
	      	  				</div>
	      	  				<div class="errorTimestamp hidden" name="ticketCreationTimeStampName">
	      	  				</div>
	      	  				<div class="ticketCreationError" name="ticketCreationErrorMessageName">
	      	  					
	      	  				</div>
	      	  				<div class="ticketCreationError hidden" name="ticketCreationStackTraceName">
	      	  					
	      	  				</div>
	      	  				<div style="float : right; display : inline-block;">
	      	  					<i name="trashIcon" onclick="handleErrorRemoval(this);" class="largeIcon fa fa-trash-o" aria-hidden="true"></i>
	      	  				</div>
	      	  			</td>
	      	  		</tr>
	      	  </table>
      	  </div>
      </fieldSet>
    </form>
  </body>
</html>