$webResourceManager.requireResource("com.blackducksoftware.integration.hub-jira:hub-jira-web-panel-resources")

<script language="JavaScript" type="text/javascript">   
        hideHubCustomFields();
</script>

#if ($bdsHubProject)
	<div>
		<strong class="name">$i18n.getText("hub.integration.jira.issue.custom.project.label"):</strong>
		<div id="hubProjectName" class="value">$bdsHubProject</div>
	</div>
#end
#if ($bdsHubProjectVersion)
	<div>
		<strong class="name">$i18n.getText("hub.integration.jira.issue.custom.project.version.label"):</strong>
		<div id="hubProjectVersionName" class="value">$bdsHubProjectVersion</div>
	</div>
#end
#if ($bdsHubComponent)
	<div>
		<strong class="name">$i18n.getText("hub.integration.jira.issue.custom.component.label"):</strong>
		<div id="hubComponentName" class="value">$bdsHubComponent</div>
	</div>
#end
#if ($bdsHubComponentVersion)
	<div>
		<strong class="name">$i18n.getText("hub.integration.jira.issue.custom.component.version.label"):</strong>
		<div id="hubComponentVersionName" class="value">$bdsHubComponentVersion</div>
	</div>
#end
#if ($bdsHubPolicyRule)
	<div>
		<strong class="name">$i18n.getText("hub.integration.jira.issue.custom.policy.rule.label"):</strong>
		<div id="hubPolicyRuleName" class="value">$bdsHubPolicyRule</div>
	</div>
#end
#if ($bdsHubLicenses)
	<div>
		<strong class="name">$i18n.getText("hub.integration.jira.issue.custom.licenses.label"):</strong>
		<div id="hubPolicyLicenses" class="value">$bdsHubLicenses</div>
	</div>
#end
