<html>
  <head>
    <title>$i18n.getText("hub.integration.jira.label")</title>
    <meta name="decorator" content="atl.admin" />
   		$webResourceManager.requireResource("com.blackducksoftware.integration.hub-jira:hub-jira-resources")
  </head>
  <body>
    <form id="hub-jira" class="aui">
      <div class="spinner"></div>
      <div id="aui-hub-message-field" class="aui-message hidden">
      	<p class="title">
        	<span id="aui-hub-message-title" class="aui-icon"></span>
        	<strong id="aui-hub-message-title-text"></strong>
    	</p>
    	<p id="aui-hub-message-text"></p>
      </div>
      
      <fieldset class="fieldSection">
      	 <legend class="legend">Interval</legend>
	      <div class="field-group">
	        <label class="label" for="intervalBetweenChecks">$i18n.getText("hub.integration.jira.intervalBetweenChecks.label")</label>
	        <span class="aui-icon icon-required"> $i18n.getText("hub.integration.jira.required")</span>
	        <input type="text" id="intervalBetweenChecks" name="intervalBetweenChecks" class="text long-field">
	      </div>
	      <div class="field-group">
	      	<label> </label>
	      	<div id="intervalBetweenChecksError" class="error hidden"></div>
	      </div>
      </fieldset>
      
		<fieldset class="fieldSection">
			<legend class="legend">Ticket Criteria</legend>
			<table class="ticketCriteriaTable">
				<thead>
					<tr>
						<th class="label">$i18n.getText('hub.integration.jira.policyConditions.label')
						</th>
						<th class="label">$i18n.getText('hub.integration.jira.vulnerabilityStatusForCreation.label')
						</th>
						<th class="label">$i18n.getText('hub.integration.jira.vulnerabilityStatusForClosure.label')
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div id="policyRuleTicketCreation" class="ticketCriteriaSection">
							</div>
				  		</td>
				  		<td>
				  			<div id="vulnerabilityTicketCreation" class="ticketCriteriaSection">
					  			N/A
							</div>
				  		</td>
				  		<td>
				  			<div id="vulnerabilityTicketClosure" class="ticketCriteriaSection">
					  			N/A
							</div>
				  		</td>
	      			</tr>
	      			<tr>
	      				<td>
					      	<div id="policyRulesError" class="error hidden"></div>
					    </td>
					    <td>
					      	<div id="" class="error hidden"></div>
					    </td>
					    <td >
					      	<div id="" class="error hidden"></div>
					    </td>
	      			</tr>
      			</tbody>
      		</table>	
      	
      	</fieldSet>
      	
      
		<fieldset class="fieldSection">
      	 <legend class="legend">Project Mapping</legend>
			  <label class="label" for="hubProjectMappingContainer">$i18n.getText("hub.integration.jira.hubProjectMappings.label")</label>
			  <span class="aui-icon icon-required"> $i18n.getText("hub.integration.jira.required")</span>
			  <div class="field-group">
			  	<div id="hubProjectMappingsError" class="error hidden"></div>
			  </div>
			  <div id="hubProjectMappingContainer" class="mappingContainer">
			  	<div name="hubProjectMappingElement" id="hubProjectMappingElement" class="field-group">
			      	<table width="70%">
					  <tr class="">
					  	<td>
					  		<input onclick="removeMappingElement(this);" type="button" value="$i18n.getText('hub.integration.jira.removeProjectMapping.label')" class="aui-button aui-button-primary">
					  	</td>
					    <td>
					    	<input class="longInput" type="text" name="jiraProject" list="jiraProjects" projectExists projectKey="" oninput="onMappingInputChange(this);">
							<datalist id="jiraProjects">
							</datalist>
					    </td>
					    <td> = </td>
					    <td>
					    	<input class="longInput" type="text" name="hubProject" list="hubProjects" projectExists projectKey="" oninput="onMappingInputChange(this);">
							<datalist id="hubProjects">
							</datalist>
					    </td>
					    <td id="mappingStatus"><td>
					  </tr>
					</table>
				</div>
			  </div>

		</fieldset>
		
      <input onclick="addNewMappingElement('hubProjectMappingElement');" type="button" value="$i18n.getText('hub.integration.jira.addProjectMapping.label')" class="aui-button aui-button-primary">
      
	  <input onclick="updateConfig(); startProgressSpinner();" type="button" value="$i18n.getText('hub.integration.jira.save.label')" class="aui-button aui-button-primary">
    </form>
  </body>
</html>