<html>
  <head>
    <title>$i18n.getText("hub.integration.jira.label")</title>
    <meta name="decorator" content="atl.admin" />
   		$webResourceManager.requireResource("com.blackducksoftware.integration.hub-jira:hub-jira-resources")
   		
  </head>
  <body>
    <form id="hub-jira" class="">
    
      <div id="aui-hub-message-field" class="aui-message hidden">
      	<p class="title">
        	<span id="aui-hub-message-title" class="aui-icon"></span>
        	<strong id="aui-hub-message-title-text"></strong>
    	</p>
    	<p id="aui-hub-message-text"></p>
      </div>
      
      <div id="error-message-field" class="error hidden">
      </div>
      
	<ul class="tab">
  		<li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Admin')">Admin</a></li>
  		<li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Basic')">Basic</a></li>
  		<li><a href="javascript:void(0)" class="tablinks" onclick="openTab(event, 'Advanced')">Advanced</a></li>
	</ul>

	<div id="Admin" class="tabcontent">
	<fieldset class="fieldSection">
      	 <legend class="legend"><i class="fa fa-angle-down" onclick="toggleDisplay(this,'adminArea');"> </i> $i18n.getText("hub.integration.jira.admin.label")</legend>
      	 <div id="adminArea">
		      <div class="field-group">
		        <label class="label" for="hubJiraGroups">$i18n.getText("hub.integration.jira.hubJiraGroups.label")</label>
		        <span class="aui-icon icon-required"> $i18n.getText("hub.integration.jira.required")</span>
		        <span class="fa fa-info-circle infoIcon" title="$i18n.getText('hub.integration.jira.hubJiraGroupsDescription.label')"></span>
				<select class="aui longInput" id="hubJiraGroups" multiple=""> </select>
		      </div>
		      <div class="field-group">
		      	<label> </label>
		      	<div id="hubJiraGroupsError" class="error hidden"></div>
		      </div>
		      
		      <div style="display: inline-block; width: 100%;">
		   	   		<div class="buttonContainer">
			       		<div id="adminSaveSpinner" style="display: inline-block;"></div>
			  	   		<input id="hubJiraAdminConfigSaveButton" onclick="updateAdminConfig(); startProgressSpinner('adminSaveSpinner');" type="button" value="$i18n.getText('hub.integration.jira.save.label')" class="aui-button aui-button-primary" />
			  	   </div>
			  </div>
	      </div>
      	</fieldset>
	</div>

	<div id="Basic" class="tabcontent">
  		<fieldset class="fieldSection">
      	 <legend class="legend"><i class="fa fa-angle-down" onclick="toggleDisplay(this,'intervalArea');"> </i> $i18n.getText("hub.integration.jira.intervalSection.label")</legend>
      	 <div id="intervalArea">
		      <div class="field-group">
		        <label class="label" for="intervalBetweenChecks">$i18n.getText("hub.integration.jira.intervalBetweenChecks.label")</label>
		        <span class="aui-icon icon-required"> $i18n.getText("hub.integration.jira.required")</span>
		        <input type="text" id="intervalBetweenChecks" name="intervalBetweenChecks" class="longInput textStyle">
		      </div>
		      <div class="field-group">
		      	<label> </label>
		      	<div id="intervalBetweenChecksError" class="error hidden"></div>
		      </div>
	      </div>
      	</fieldset>
      
      	<fieldset class="fieldSection">
      	  <legend class="legend"><i class="fa fa-angle-down" onclick="toggleDisplay(this,'mappingArea');"> </i> $i18n.getText('hub.integration.jira.hubProjectMappingSection.label') </legend>
			<div id="mappingArea" class="mappingContainer">
			  <label class="label" for="hubProjectMappingContainer">$i18n.getText("hub.integration.jira.hubProjectMappings.label")</label>
			  <span class="aui-icon icon-required"> $i18n.getText("hub.integration.jira.required")</span>
			  <div class="field-group">
					<div id="hubProjectMappingsError" class="error hidden"></div>
			  </div>
			  <div id="projectMappingSpinner" class="largeIcon fa fa-spinner fa-spin fa-fw"></div>
			  	<table width="100%">
			  		<thead>
			  			<tr>
			  				<td class="mappingTableCell"/>
			  				<td class="mappingTableCell error" id="jiraProjectListError">
						    </td>
						    <td class="mappingTableCell"/>
						    <td class="mappingTableCell error" id="hubProjectListError">
						    </td>
						    <td class="mappingTableCell"/>
			  			</tr>
			  			<tr>
			  				<td class="mappingTableCell"/>
			  				<td class="mappingTableCell">
			  					$i18n.getText('hub.integration.jira.jiraProjectPlaceHolder.label')
						    </td>
						    <td class="mappingTableCell"/>
						    <td class="mappingTableCell">
						    	$i18n.getText('hub.integration.jira.hubProjectPlaceHolder.label')
						    </td>
						    <td class="mappingTableCell"/>
			  			</tr>
			  		</thead>
			  		<tbody id="hubProjectMappingContainer">
					  	  <tr class="hidden" name="hubProjectMappingElement" id="hubProjectMappingElement">
						    <td class="mappingTableCell" id="mappingStatus">
						    </td>
						    <td class="mappingTableCell">
						    	<input class="longInput textStyle" type="text" name="jiraProject" list="jiraProjects" projectKey="" oninput="onMappingInputChange(this);" placeholder="$i18n.getText('hub.integration.jira.jiraProjectPlaceHolder.label')">
								<datalist id="jiraProjects">
								</datalist>
								<div id="jiraProjectError">
						    	</div>
						    </td>
						    <td class="mappingTableCell" width="25px"> = </td>
						    <td class="mappingTableCell">
						    	<input class="longInput textStyle" type="text" name="hubProject" list="hubProjects" projectKey="" oninput="onMappingInputChange(this);" placeholder="$i18n.getText('hub.integration.jira.hubProjectPlaceHolder.label')">
								<datalist id="hubProjects">
								</datalist>
						    </td>
						    <td class="mappingTableCell" width="100px">
						    	<div class="largeIcon fa fa-trash-o" onclick="removeMappingElement(this);" title="$i18n.getText('hub.integration.jira.removeProjectMapping.label')"></div>
						  	</td>
						  </tr>
				  </tbody>
				</table>
			</div>
			<div class="buttonContainer">
				<input id="hubJiraAddMappingButton" onclick="addNewMappingElement('hubProjectMappingElement');" type="button" value="$i18n.getText('hub.integration.jira.addProjectMapping.label')" class="aui-button">
			</div>
		</fieldset>
      
		<fieldset class="fieldSection">
			<legend class="legend"><i class="fa fa-angle-down" onclick="toggleDisplay(this,'ticketCriteriaArea');"> </i> $i18n.getText("hub.integration.jira.ticketCriteriaSection.label")</legend>
			<div id="ticketCriteriaArea">
			<table class="ticketCriteriaTable">
				<thead>
					<tr>
						<th class="label">$i18n.getText('hub.integration.jira.policyConditions.label')
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<div id="policyRuleSpinner" class="largeIcon fa fa-spinner fa-spin fa-fw"></div>
							<div id="policyRuleTicketCreation" class="ticketCriteriaSection">
							</div>
				  		</td>
	      			</tr>
	      			<tr>
	      				<td>
					      	<div id="policyRulesError" class="error hidden"></div>
					    </td>
	      			</tr>
      			</tbody>
      		</table>	
      		</div>
      	</fieldSet>
		
	   <div style="display: inline-block; width: 100%;">
	   	   <div class="buttonContainer">
	       		<div id="saveSpinner" style="display: inline-block;"></div>
	  	   		<input id="hubJiraConfigSaveButton" onclick="updateConfig(); startProgressSpinner('saveSpinner');" type="button" value="$i18n.getText('hub.integration.jira.save.label')" class="aui-button aui-button-primary">
	  	   </div>
	   </div>
	</div>

	<div id="Advanced" class="tabcontent">
  		<legend class="legend"><i class="fa fa-angle-down" onclick="toggleDisplay(this,'fieldCopyArea');"> </i> $i18n.getText("hub.integration.jira.fieldCopy.label")</legend>
  		<div id="fieldCopyArea">
  		
  		<fieldset class="fieldSection">
  		<!-- project pulldown -->
  		<!--
  			<table width="100%">
			  		<thead>
			  			<tr>
			  				<td class="fieldCopyJiraProjectCell">
			  					$i18n.getText('hub.integration.jira.jiraProjectPlaceHolder.label')
						    </td>
			  			</tr>
			  		</thead>
			  		<tbody id="fieldCopyJiraProjectContainer">
					  	  <tr class="" name="fieldCopyJiraProjectChoice" id="fieldCopyJiraProjectChoice">
						    <td class="fieldCopyJiraProjectCell" id="fieldCopyJiraProjectCell">
						    	<input class="longInput textStyle" type="text" name="jiraProject" list="jiraProjects" projectKey="" oninput="onMappingInputChange(this);" placeholder="$i18n.getText('hub.integration.jira.jiraProjectPlaceHolder.label')">
								<datalist id="jiraProjects">
								</datalist>
								<div id="jiraProjectError">
						    	</div>
						    </td>
						  </tr>
				  </tbody>
			</table>
			-->
			<!-- field copy mappings -->
			<table width="100%">
			  		<thead>
			  			<tr>
			  				<td class="mappingTableCell"/>
			  				<td class="mappingTableCell"/>
						    <td class="mappingTableCell error hidden" id="fieldCopyMappingError"/>
						    <td class="mappingTableCell error hidden" id="fieldCopyTargetFieldError"/>
						    <td class="mappingTableCell"/>
			  			</tr>
			  			<tr>
			  				<td class="mappingTableCell"/>
			  				<td class="mappingTableCell">
			  					$i18n.getText('hub.integration.jira.sourceFieldName.label')
						    </td>
						    <td class="mappingTableCell"/>
						    <td class="mappingTableCell">
						    	$i18n.getText('hub.integration.jira.targetFieldName.label')
						    </td>
						    <td class="mappingTableCell"/>
			  			</tr>
			  		</thead>
			  		<tbody id="fieldCopyMappingContainer">
					  	  <tr class="hidden" name="fieldCopyMappingElement" id="fieldCopyMappingElement">
						    <td class="mappingTableCell" id="fieldCopyMappingStatus">
						    </td>
						    <td class="mappingTableCell">
						    	<input class="longInput textStyle" type="text" name="sourceField" list="sourceFields" oninput="onFieldCopyMappingInputChange(this);" placeholder="$i18n.getText('hub.integration.jira.sourceFieldName.label')">
								<datalist id="sourceFields">
								</datalist>
								<div id="sourceFieldError">
						    	</div>
						    </td>
						    <td class="mappingTableCell" width="25px"><div class="largeIcon fa fa-arrow-right"  title="$i18n.getText('hub.integration.jira.rightArrow.label')"></div></td>
						    <td class="mappingTableCell">
						    	<input class="longInput textStyle" type="text" name="targetField" list="targetFields" oninput="onFieldCopyMappingInputChange(this);" placeholder="$i18n.getText('hub.integration.jira.targetFieldName.label')">
								<datalist id="targetFields">
								</datalist>
						    </td>
						    <td class="mappingTableCell" width="100px">
						    	<div class="largeIcon fa fa-trash-o" onclick="removeFieldCopyMappingElement(this);" title="$i18n.getText('hub.integration.jira.removeFieldCopyMapping.label')"></div>
						  	</td>
						  </tr>
				  </tbody>
				</table>
			<div class="buttonContainer">
				<input id="fieldCopyAddMappingButton" onclick="addNewFieldCopyMappingElement('fieldCopyMappingElement');" type="button" value="$i18n.getText('hub.integration.jira.addFieldCopyMapping.label')" class="aui-button">
			</div>
		</fieldset>
	</div>
		
	<div style="display: inline-block; width: 100%;">
	   	   <div class="buttonContainer">
	       		<div id="saveSpinner" style="display: inline-block;"></div>
	  	   		<input id="fieldCopySaveButton" onclick="updateFieldCopyConfig(); startProgressSpinner('fieldCopySaveSpinner');" type="button" value="$i18n.getText('hub.integration.jira.save.label')" class="aui-button aui-button-primary">
	  	   </div>
	</div>
</div>

	  <fieldset class="fieldSection hidden" id="ticketCreationFieldSet">
      	  <legend class="legend"><i class="fa fa-angle-down" onclick="toggleDisplay(this,'ticketCreationErrors');"> </i> $i18n.getText('hub.integration.jira.ticketCreationError.label') </legend>
      	  <div id="ticketCreationErrors">
	      	  <table id="ticketCreationErrorsTable" style="width : 100%;">
	      	  		<tr class="hidden" id="ticketCreationErrorRow" name="ticketCreationErrorRow">
	      	  			<td>
	      	  				<div name="expansionIconDiv" style="float : left; display : inline-block;">
	      	  					<i name="expansionIcon" onclick="handleErrorResize(this);" class="largeIcon fa fa-plus-square-o" aria-hidden="true"></i>
	      	  				</div>
	      	  				<div class="errorTimestamp hidden" name="ticketCreationTimeStampName">
	      	  				</div>
	      	  				<div class="ticketCreationError" name="ticketCreationErrorMessageName">
	      	  					
	      	  				</div>
	      	  				<div class="ticketCreationError hidden" name="ticketCreationStackTraceName">
	      	  					
	      	  				</div>
	      	  				<div style="float : right; display : inline-block;">
	      	  					<i name="trashIcon" onclick="handleErrorRemoval(this);" class="largeIcon fa fa-trash-o" aria-hidden="true"></i>
	      	  				</div>
	      	  			</td>
	      	  		</tr>
	      	  </table>
	      	   <div style="display: inline-block; width: 100%;">
		   	   		<div class="buttonContainer">
			       		<div id="resetSpinner" style="display: inline-block;"></div>
			  	   		<input onclick="resetSalKeys(); startProgressSpinner('resetSpinner');" type="button" value="$i18n.getText('hub.integration.jira.reset.label')" class="aui-button aui-button-primary" />
			  	   </div>
			  </div>
      	  </div>
      </fieldSet>
      
      <!-- Plugin Version -->
      <footer>
	  <br/>
      <div id="pluginInfo" class="plugin-info">Hub Jira Plugin Version: <span id="pluginVersion">(not set)</span></div>
      </footer>
    </form>
  </body>
</html>