$webResourceManager.requireResource("com.blackducksoftware.integration.hub-jira:hub-jira-web-panel-resources")

#if ($hubProject)
	<div>
		<strong class="name">$i18n.getText("hub.integration.jira.issue.custom.project.label"):</strong>
		<div id="hubProjectName" class="value">$hubProject</div>
	</div>
#end
#if ($hubProjectVersion)
	<div>
		<strong class="name">$i18n.getText("hub.integration.jira.issue.custom.project.version.label"):</strong>
		<div id="hubProjectVersionName" class="value">$hubProjectVersion</div>
	</div>
#end
#if ($hubComponent)
	<div>
		<strong class="name">$i18n.getText("hub.integration.jira.issue.custom.component.label"):</strong>
		<div id="hubComponentName" class="value">$hubComponent</div>
	</div>
#end
#if ($hubComponentVersion)
	<div>
		<strong class="name">$i18n.getText("hub.integration.jira.issue.custom.component.version.label"):</strong>
		<div id="hubComponentVersionName" class="value">$hubComponentVersion</div>
	</div>
#end
#if ($hubPolicyRule)
	<div>
		<strong class="name">$i18n.getText("hub.integration.jira.issue.custom.policy.rule.label"):</strong>
		<div id="hubPolicyRuleName" class="value">$hubPolicyRule</div>
	</div>
#end
