<div id="aui-hub-message-field" class="aui-message hidden">
    <p class="title">
        <span id="aui-hub-message-title" class="aui-icon"></span>
        <strong id="aui-hub-message-title-text"></strong>
    </p>
    <p id="aui-hub-message-text"></p>
</div>

<div id="configurationErrorRow" class="field-group hidden">
    <label> </label>
    <div id="configurationError" class="error"></div>
</div>

<fieldset class="fieldSection">
    <legend class="legend"><i class="fa fa-angle-down" onclick="toggleDisplay(this,'serverConfigArea');"> </i> $i18n.getText("blackduck.integration.jira.server.details.serverConfig.label")</legend>
    <div id="serverConfigArea">
        <div class="blackduck-details-field-group">
            <label class="blackDuckDetailsLabel" for="hubServerUrl">$i18n.getText("blackduck.integration.jira.server.details.url.label")<span class="error"> *</span></label>
            <input type="text" id="hubServerUrl" name="hubServerUrl" class="longInput textStyle" />
            <span class="fa fa-info-circle infoIcon" title="$i18n.getText('blackduck.integration.jira.server.details.url.description')"></span>
        </div>
        <div id="hubServerUrlErrorRow" class="blackduck-details-field-group hidden">
            <label> </label>
            <div id="hubServerUrlError" class="error "></div>
        </div>

        <div id="authentication-options">
            <div id="bdApiTokenRow" class="blackduck-details-field-group">
                <label class="blackDuckDetailsLabel" for="bdApiToken">$i18n.getText("blackduck.integration.jira.server.details.api.token.label")<span class="error"> *</span></label>
                <input type="password" id="bdApiToken" name="bdApiToken" class="longInput textStyle" />
                <span class="fa fa-info-circle infoIcon" title="$i18n.getText('blackduck.integration.jira.server.details.api.token.description')"></span>
            </div>
            <div id="bdApiTokenErrorRow" class="blackduck-details-field-group hidden">
                <label> </label>
                <div id="bdApiTokenError" class="error "></div>
            </div>
        </div>

        <div class="blackduck-details-field-group">
            <label class="blackDuckDetailsLabel" for="hubTimeout">$i18n.getText("blackduck.integration.jira.server.details.timeout.label")<span class="error"> *</span></label>
            <input type="text" id="hubTimeout" name="hubTimeout" class="longInput textStyle" default="120" />
            <span class="fa fa-info-circle infoIcon" title="$i18n.getText('blackduck.integration.jira.server.details.timeout.description')"></span>
        </div>
        <div id="hubTimeoutErrorRow" class="blackduck-details-field-group hidden">
            <label> </label>
            <div id="hubTimeoutError" class="error "></div>
        </div>

        <div class="blackduck-details-field-group">
            <label class="blackDuckDetailsLabel" for="hubTrustCert">$i18n.getText("blackduck.integration.jira.server.details.trust.cert.label")</label>
            <input type="checkbox" id="hubTrustCert" name="hubTrustCert" />
            <span class="fa fa-info-circle infoIcon" title="$i18n.getText('blackduck.integration.jira.server.details.trust.cert.description')"></span>
        </div>
        <div id="hubTrustCertErrorRow" class="blackduck-details-field-group hidden">
            <label> </label>
            <div id="hubTrustCertError" class="error "></div>
        </div>
    </div>
</fieldset>

<fieldset class="fieldSection">
    <legend class="legend"><i id="proxyConfigDisplayIcon" class="fa fa-angle-down" onclick="toggleDisplay(this,'proxyConfigArea');"> </i> $i18n.getText("blackduck.integration.jira.server.details.proxyConfig.label")</legend>
    <div id="proxyConfigArea">
        <div class="blackduck-details-field-group">
            <label class="blackDuckDetailsLabel" for="proxyHost">$i18n.getText("blackduck.integration.jira.server.details.proxy.host.label")</label>
            <input type="text" id="proxyHost" name="proxyHost" class="longInput textStyle" />
            <span class="fa fa-info-circle infoIcon" title="$i18n.getText('blackduck.integration.jira.server.details.proxy.host.description')"></span>
        </div>
        <div id="proxyHostErrorRow" class="blackduck-details-field-group hidden">
            <label> </label>
            <div id="proxyHostError" class="error "></div>
        </div>

        <div class="blackduck-details-field-group">
            <label class="blackDuckDetailsLabel" for="proxyPort">$i18n.getText("blackduck.integration.jira.server.details.proxy.port.label")</label>
            <input type="text" id="proxyPort" name="proxyPort" class="longInput textStyle" />
            <span class="fa fa-info-circle infoIcon" title="$i18n.getText('blackduck.integration.jira.server.details.proxy.port.description')"></span>
        </div>
        <div id="proxyPortErrorRow" class="blackduck-details-field-group hidden">
            <label> </label>
            <div id="proxyPortError" class="error "></div>
        </div>

        <div class="blackduck-details-field-group">
            <label class="blackDuckDetailsLabel" for="proxyUsername">$i18n.getText("blackduck.integration.jira.server.details.proxy.username.label")</label>
            <input type="text" id="proxyUsername" name="proxyUsername" class="longInput textStyle" />
            <span class="fa fa-info-circle infoIcon" title="$i18n.getText('blackduck.integration.jira.server.details.proxy.username.description')"></span>
        </div>
        <div id="proxyUsernameErrorRow" class="blackduck-details-field-group hidden">
            <label> </label>
            <div id="proxyUsernameError" class="error "></div>
        </div>

        <div class="blackduck-details-field-group">
            <label class="blackDuckDetailsLabel" for="proxyPassword">$i18n.getText("blackduck.integration.jira.server.details.proxy.password.label")</label>
            <input type="password" id="proxyPassword" name="proxyPassword" class="longInput password textStyle" />
            <span class="fa fa-info-circle infoIcon" title="$i18n.getText('blackduck.integration.jira.server.details.proxy.password.description')"></span>
        </div>
        <div id="proxyPasswordErrorRow" class="blackduck-details-field-group hidden">
            <label> </label>
            <div id="proxyPasswordError" class="error "></div>
        </div>
    </div>
</fieldset>

<div style="display: inline-block; width: 100%;">
    <div class="buttonContainer">
        <div id="hubDetailsProgressSpinner" style="display: inline-block;">
            <i class="largeIcon fa fa-spinner fa-spin fa-fw"></i>
        </div>
        <input id="testConnectionButton" onclick="testConnection(); startProgressSpinner('hubDetailsProgressSpinner');" type="button" value="$i18n.getText("blackduck.integration.jira.server.details.test.label")"
               class="aui-button aui-button-primary" />
        <input id="saveConfigButton" onclick="updateHubDetails(); startProgressSpinner('hubDetailsProgressSpinner');" type="button" value="$i18n.getText("blackduck.integration.jira.server.details.save.label")"
               class="aui-button aui-button-primary" />
    </div>
</div>
