<legend class="legend"><i class="fa fa-angle-down" onclick="toggleDisplay(this,'fieldCopyArea');"> </i> $i18n.getText("blackduck.integration.jira.fieldCopy.label")</legend>
<div id="fieldCopyArea">
    <fieldset class="fieldSection">
        <label class="label" for="hubProjectMappingContainer">$i18n.getText("blackduck.integration.jira.fieldMappings.label")</label>
        <!-- project pulldown -->
        <!--
  			<table width="100%">
			  		<thead>
			  			<tr>
			  				<td class="fieldCopyJiraProjectCell">
			  					$i18n.getText('blackduck.integration.jira.jiraProjectPlaceHolder.label')
						    </td>
			  			</tr>
			  		</thead>
			  		<tbody id="fieldCopyJiraProjectContainer">
					  	  <tr class="" name="fieldCopyJiraProjectChoice" id="fieldCopyJiraProjectChoice">
						    <td class="fieldCopyJiraProjectCell" id="fieldCopyJiraProjectCell">
						    	<input class="longInput textStyle" type="text" name="jiraProject" list="jiraProjects" projectKey="" oninput="onMappingInputChange(this);" placeholder="$i18n.getText(
            'blackduck.integration.jira.jiraProjectPlaceHolder.label')">
								<datalist id="jiraProjects">
								</datalist>
								</input>
								<div id="jiraProjectError">
						    	</div>
						    </td>
						  </tr>
				  </tbody>
			</table>
			-->
        <!-- field copy mappings -->
        <table width="100%">
            <thead>
            <tr>
                <td class="mappingTableCell" />
                <td class="mappingTableCell" />
                <td class="mappingTableCell error hidden" id="fieldCopyMappingError" />
                <td class="mappingTableCell error hidden" id="fieldCopyTargetFieldError" />
                <td class="mappingTableCell" />
            </tr>
            <tr>
                <td class="mappingTableCell" />
                <td class="mappingTableCell">
                    $i18n.getText('blackduck.integration.jira.sourceFieldName.label')
                </td>
                <td class="mappingTableCell" />
                <td class="mappingTableCell">
                    $i18n.getText('blackduck.integration.jira.targetFieldName.label')
                </td>
                <td class="mappingTableCell" />
            </tr>
            </thead>
            <tbody id="fieldCopyMappingContainer">
            <tr class="hidden" name="fieldCopyMappingElement" id="fieldCopyMappingElement">
                <td class="mappingTableCell" id="fieldCopyMappingStatus">
                </td>
                <td class="mappingTableCell">
                    <input class="longInput textStyle" type="text" name="sourceField" list="sourceFields" oninput="onFieldCopyMappingInputChange(this);"
                           placeholder="$i18n.getText('blackduck.integration.jira.sourceFieldName.label')">
                    <datalist id="sourceFields">
                    </datalist>
                    </input>
                    <div id="sourceFieldError">
                    </div>
                </td>
                <td class="mappingTableCell" width="25px"> =</td>
                <td class="mappingTableCell">
                    <input class="longInput textStyle" type="text" name="targetField" list="targetFields" oninput="onFieldCopyMappingInputChange(this);"
                           placeholder="$i18n.getText('blackduck.integration.jira.targetFieldName.label')">
                    <datalist id="targetFields">
                    </datalist>
                    </input>
                </td>
                <td class="mappingTableCell" width="100px">
                    <div class="largeIcon fa fa-trash-o" onclick="removeFieldCopyMappingElement(this);" title="$i18n.getText('blackduck.integration.jira.removeFieldCopyMapping.label')"></div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="buttonContainer">
            <input id="fieldCopyAddMappingButton" onclick="addNewFieldCopyMappingElement('fieldCopyMappingElement');" type="button" value="$i18n.getText('blackduck.integration.jira.addFieldCopyMapping.label')"
                   class="aui-button" />
        </div>
    </fieldset>
</div>

<div style="display: inline-block; width: 100%;">
    <div class="buttonContainer">
        <div id="saveSpinner" style="display: inline-block;"></div>
        <input id="fieldCopySaveButton" onclick="updateFieldCopyConfig(); startProgressSpinner('fieldCopySaveSpinner');" type="button" value="$i18n.getText('blackduck.integration.jira.save.label')"
               class="aui-button aui-button-primary" />
    </div>
</div>
