<fieldset class="fieldSection">
    <div id="migrationArea">
        <div>$i18n.getText("blackduck.integration.jira.migration.banner.label")</div>

        <div style="display: inline-block; width: 100%;">
            <div style="display: inline-block;">
                <input id="startMigrationButton" onclick="startMigration();" type="button" value="$i18n.getText("blackduck.integration.jira.migration.start.label")"
                       class="aui-button aui-button-primary" />
            </div>
            <div style="display: inline-block;">
                <input id="refreshMigrationButton" onclick="readMigrationDetails();" type="button" value="$i18n.getText("blackduck.integration.jira.migration.refresh.label")"
                       class="aui-button aui-button-primary" />
            </div>
            <div id="startMigrationErrorRow" class="blackduck-details-field-group hidden">
                <label> </label>
                <div id="startMigrationError" class="error "></div>
            </div>

        </div>

        <div>
            <div class="blackduck-details-field-group">
                <div class="blackDuckDetailsLabel">$i18n.getText("blackduck.integration.jira.migration.status.label")</div>
                <span class="fa fa-info-circle infoIcon" title="$i18n.getText('blackduck.integration.jira.migration.status.description')"></span>
                <div id="migrationStatus" name="migrationStatus" class="longDisplayText textStyle"></div>
            </div>
        </div>
        <div>
            <div class="blackduck-details-field-group">
                <div class="blackDuckDetailsLabel">$i18n.getText("blackduck.integration.jira.migration.time.start.label")</div>
                <span class="fa fa-info-circle infoIcon" title="$i18n.getText('blackduck.integration.jira.migration.time.start.description')"></span>
                <div id="migrationStartTime" name="migrationStartTime" class="longDisplayText textStyle"></div>
            </div>
        </div>
        <div>
            <div class="blackduck-details-field-group">
                <div class="blackDuckDetailsLabel">$i18n.getText("blackduck.integration.jira.migration.time.end.label")</div>
                <span class="fa fa-info-circle infoIcon" title="$i18n.getText('blackduck.integration.jira.migration.end.description')"></span>
                <div id="migrationEndTime" name="migrationEndTime" class="longDisplayText textStyle"></div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset class="fieldSection">
    <div id="projectMigrationArea">
        <table class="projectMigrationTable">
            <thead>
            <tr>
                <th class="label">$i18n.getText('blackduck.integration.jira.migration.project.todo.label')</th>
                <th class="label">$i18n.getText('blackduck.integration.jira.migration.project.completed.label')</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <div id="projectToBeMigrated" class="projectMigrationSection">
                    </div>
                </td>
                <td>
                    <div id="projectsAlreadyMigrated" class="projectMigrationSection">
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</fieldSet>