<div id="aui-hub-message-field" class="aui-message hidden">
    <p class="title">
        <span id="aui-hub-message-title" class="aui-icon"></span>
        <strong id="aui-hub-message-title-text"></strong>
    </p>
    <p id="aui-hub-message-text"></p>
</div>

<div id="configurationErrorRow" class="field-group hidden">
    <label> </label>
    <div id="configurationError" class="error"></div>
</div>

<fieldset class="fieldSection">
    <legend class="legend"><i class="fa fa-angle-down" onclick="toggleDisplay(this,'managementArea');"> </i>$i18n.getText('blackduck.integration.jira.management.label')</legend>
    <div id="managementArea">
        <div class="blackduck-details-field-group">
            <label class="blackDuckDetailsLabel" for="jiraCleanOldIssues">$i18n.getText('blackduck.integration.jira.management.clean.old.issues.label')</label>
            <input type="text" id="jiraCleanOldIssues" name="jiraCleanOldIssues" />
            <span class="fa fa-info-circle infoIcon" title="$i18n.getText('blackduck.integration.jira.management.clean.old.issues.description')"></span>
            <input id="testConnectionButton" onclick="closeOldIssues();" type="button" value="$i18n.getText('blackduck.integration.jira.management.clean.old.issues.button')"
                   class="aui-button aui-button-primary" />
            <div id="managementProgressSpinner" style="display: inline-block;">
                <i></i>
            </div>
        </div>
    </div>
</fieldset>
